* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}

header {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.header__logo img {
  width: 250px;
}

.city-search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
}
.city-search i {
  color: #353535;
  padding-right: 10px;
}
.city-search input {
  border: hidden;
  background-color: #eaeaea;
  font-size: 1rem;
  color: #353535;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 50px 0;
}
.info-section p {
  color: #7d7d7d;
  padding: 20px 0;
}

.main-button {
  width: 220px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 5px 5px 12px 1px #a1a1a1;
  border-radius: 30px;
  text-align: center;
  padding: 20px;
}
.main-button:hover {
  box-shadow: 10px 10px 12px 1px #a1a1a1;
  filter: brightness(110%);
}
.main-button a {
  color: white;
  font-size: 1.1rem;
}

.fonctionnement {
  display: grid;
  grid-template-columns: 1fr 35% 1fr;
  justify-content: center;
  margin-bottom: 50px;
}
.fonctionnement h2 {
  grid-column-start: 2;
  text-align: center;
  margin: 50px 0 35px 0;
}
.fonctionnement__item {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 1px #a1a1a1;
  margin: 15px 0;
  padding: 25px 15px;
  position: relative;
}
.fonctionnement__item span {
  color: white;
  border-radius: 100%;
  background-color: #9356DC;
  text-align: center;
  width: 25px;
  height: 25px;
  position: absolute;
  padding: 3px;
  left: -2%;
  top: 30%;
}
.fonctionnement__item i {
  color: #7e7e7e;
  padding: 0 25px;
  font-size: 1.2rem;
}
.fonctionnement__item:hover {
  background-color: #f5edff;
}
.fonctionnement__item:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.restaurants h2 {
  text-align: center;
  padding: 50px 0 25px 0;
}

.grid-restaurant {
  display: grid;
  grid-template-columns: 1fr 45% 45% 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.grid-restaurant article img {
  max-height: 250px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurant-card {
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 12px 1px #a1a1a1;
}
.restaurant-card__figure figcaption {
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
  position: absolute;
  padding: 10px 15px;
  top: 5%;
  right: 5%;
}
.restaurant-card:hover {
  box-shadow: 10px 10px 12px 1px #a1a1a1;
  filter: brightness(110%);
}

.restaurant-info {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 25px 15px 15px;
  border-radius: 20px;
}
.restaurant-info span {
  padding-top: 5px;
}
.restaurant-info p {
  font-weight: lighter;
}

.fa-heart {
  font-size: 2em;
  color: transparent;
  -webkit-text-stroke: 2px black;
  opacity: 0.2;
}
.fa-heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0px;
  opacity: 1;
  transition: all 1000ms ease-in-out;
}

#left {
  grid-column-start: 2;
}

footer {
  background-color: #353535;
}
footer h2 {
  font-family: "Shrikhand";
  text-align: left;
  font-size: 1.5rem;
  padding-top: 10px;
  padding-left: 15px;
}
footer h2 a {
  color: white;
}
footer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 20px 40px;
  margin: 0 30px;
}
footer ul li a {
  color: white;
}
footer ul li a i {
  padding: 0 10px;
}

/*# sourceMappingURL=style.css.map */
