* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$align: center;

img {
    max-width: 100%;
    object-fit: cover;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    @media (max-width: 767px){
        font-size: 1.2rem;
    }
}
header {
    text-align: $align;
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.header__logo img {
    width: 250px;
}
.city-search {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 15px;
    i {
        color: #353535;
        padding-right: 10px;
    }
    input {
        border: hidden;
        background-color: #eaeaea;
        font-size: 1rem;
        color: #353535;
    }  
}
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding: 50px 0;
    p {
        color: #7d7d7d;
        padding: 20px 0;
        @media (max-width:767px)
        {
            text-align: $align;
            padding: 20px;
        }
    }
    h2 {
        @media (max-width:767px) {
            padding: 0 20px;
            text-align: $align;
        }
    }
}
.main-button {
    width: 220px;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 5px 5px 12px 1px #a1a1a1 ;
    border-radius: 30px;
    text-align: $align;
    padding: 20px;
    &:hover {
        box-shadow: 10px 10px 12px 1px #a1a1a1;
        filter: brightness(110%);
    }
    a {
        color: white;
        font-size: 1.1rem;
    }
}
.fonctionnement {
    display: grid;
    grid-template-columns: 1fr 35% 1fr;
    justify-content: $align;
    margin-bottom: 50px;
    @media (max-width:767px) {
        grid-template-columns: 1fr;
    }
    h2 {
        grid-column-start: 2;
        text-align: $align;
        margin: 50px 0 35px 0;
        @media (max-width:767px) {
            text-align: left;
            margin: 50px 0 30px 20px;
            grid-column-start: 1;
        }
    }
    &__item {
        grid-column-start: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: $align;
        background-color: #f6f6f6;
        border-radius: 20px;
        box-shadow: 5px 5px 12px 1px #a1a1a1;
        margin: 15px 0;
        padding: 25px 15px;
        position: relative;
        @media (max-width:767px) {
            text-align: left;
            margin: 15px;
            grid-column-start: 1;
        }
        span {
            color: white;
            border-radius: 100%;
            background-color: $color-primary;
            text-align: $align;
            width: 25px;
            height: 25px;
            position: absolute;
            padding: 3px;
            left: -2%;
            top: 30%;
            @media (max-width: 767px) {
                padding: 2px;
            }
        }
        i {
            color: #7e7e7e;
            padding: 0 25px;
            font-size: 1.2rem;
        }
        &:hover {
            background-color: #f5edff;
            i {
                color: $color-primary;
            }
        }
    }
}
.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 60px;
    h2 {
        text-align: $align;
        padding: 50px 0 25px 0;
        @media (max-width: 767px) {
            text-align: left;
            margin-left: 20px;
        }
    }
}
.grid-restaurant {
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr;
    column-gap: 30px;
    row-gap: 30px;
    @media (max-width: 767px){
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin: 0 20px;
    }
    article img {
        max-height: 250px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        @media (max-width:767px) {
            height: 175px;
        }
    }
}
.restaurant-card {
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 12px 1px #a1a1a1;
    &__figure {
        figcaption {
            background-color: $color-tertiary;
            color: #008766;
            font-weight: bold;
            position: absolute;
            padding: 10px 15px;
            top: 5%;
            right: 5%;
        }
    }
    &:hover {
        box-shadow: 10px 10px 12px 1px #a1a1a1;
        filter: brightness(110%);
    }
}
.restaurant-info {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
    border-radius: 20px;
    span {
        padding-top: 5px;
    }
    p {
        font-weight: lighter;
    }
}
.fa-heart{	
      font-size: 2em;
      color:transparent;
      -webkit-text-stroke: 3px black;
      opacity:0.2;
    &:hover {
        background:linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 0px;
        opacity:1;
        transition: all 1000ms ease-in-out;
    }
}
#left {
    grid-column-start: 2;
    @media  (max-width:767px) {
        grid-column-start: 1;
    }
}
footer {
    background-color: #353535;
    h2 {
        font-family: 'Shrikhand';
        text-align: left;
        font-size: 1.5rem;
        padding-top: 10px;
        padding-left: 15px;
        a {
            color: white;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 20px 40px;
        margin: 0 40px;
        li a {
            color: white;
            i {
                padding: 0 10px;
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
            text-align: left;
            margin: 0;
            padding: 15px;
            li {
                padding-bottom: 10px;
            }
            li a {
                i { 
                padding: 0 10px 0 0;
                }
            }
        }
    }
}
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 85%;
    display: flex;
    justify-content: $align;
    align-items: $align;
    animation: disappear 3000ms ease-out;
    @keyframes disappear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    &__spin {
        animation: spin 3000ms linear infinite;
        transform-origin: bottom;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
/* Page restaurant */

.restaurant__header > a {
   position: absolute;
   left: 5%;
   top: 4%;
   @media (max-width:1024px) {
       top: 3%;
   }
   @media (max-width:767px) {
       top: 4%;
   }
}
.restaurant__img {
    img {
        width: 100%;
        height: 260px;
        position: relative;
        z-index: -1;
    }
}
.restaurant {
    &__container {
        background-color: #f6f6f6;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: $align;
        align-items: $align;
        margin: 0 auto;
        padding: 40px;
        margin-top: -35px;
        border-radius: 30px 30px 0 0;
        @media (max-width: 767px) {
            width: 100%;
            font-size: 1rem;
            padding: 40px 15px;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        h2 {
            font-family: 'Shrikhand';
        }
        @media (max-width: 767px) {
            padding: 0 10px;
        }
    }
    &__items {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        text-align: left;
        justify-items: baseline;
        align-items: end;
        column-gap: 30px;
        h3 {
            grid-row-start: 1;
        }
        article {
            grid-row-start: 2;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 10vh;
            background-color: white;
            padding-left: 15px;
            border-radius: 15px;
            cursor: pointer;
            box-shadow: 5px 5px 12px 1px #a1a1a1;
            overflow: hidden;
            &:hover {
                box-shadow: 10px 10px 12px 1px #a1a1a1;
                /*filter: brightness(110%);*/
            }
            .article__item {
                align-self: center;
            }
            p {
                display: flex;
                align-items: center;
                font-weight: lighter;
                margin-right: 15px;
            }
        }
        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            row-gap: 20px;
        }
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            row-gap: 20px;
        }
    }
}
.article__price {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.article__check {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: $align;
    justify-content: $align;
    background-color: $color-tertiary;
    width: 15%;
    position: absolute;
    top: 0;
    right: -15%;
    height: 100%;
    i {
        font-size: 1.5rem;
        color: #fff;
        transform: rotate(0);
        transition: transform 600ms ease-in-out;
    }
}
.section__article:hover .article__check {
    display: flex;
    text-align: $align;
    justify-content: $align;
    right: 0;
    transition: right 800ms;
    @keyframes widthgrow {
        0% {
            width: 0;
        }
        100% {
            width: 15%;
        }
    }
}
.section__article:hover .article__price {
    display: flex;
    text-align: $align;
    justify-content: $align;
    right: 15%;
    transition: right 800ms;
}

.section__article:hover .article__check > i {
    transform: rotate(1turn);
}
.restaurant__items > h3 {
    font-weight: lighter;
    &::after {
        border-bottom: 2px solid $color-tertiary;
        content: '';
        display: block;
        padding-top: 4px;
        margin-bottom: 10px;
        width: 2vw;
        @media (max-width: 1024px) {
            width: 6vw;
        }
        @media (max-width: 767px) {
            width: 10vw;
        }
    }
    @media (max-width: 1024px) {
        padding: 10px;
        margin-top: 30px;
    }    
    @media (max-width: 767px) {
        padding: 10px;
        margin-top: 30px;
    }
}
#margin-bot {
    margin-bottom: 35px;
}
#anim-entrées {
    animation: menu 800ms ease-in-out both;
}
#anim-plats {
    animation: menu 800ms 800ms ease-in-out both;
}
#anim-desserts {
    animation: menu 800ms 1600ms ease-in-out both;
}
@keyframes menu {
    0% {
        opacity: 0;
        transform: translateY(3em);
    }
    100% {
        opacity: 1;
        transform: translateY(0em);
    }
}